<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.5.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="/js/acisfun.js?v=2023-03-25"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PNFSFREPET"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-PNFSFREPET');
    </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/acisfun.css?v={{ 'now' | date('U') }}">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <title>AC is fun</title>
</head>
<body class="body{{ current_url()|split('/')|join(' ') }}{{ is_current_url('/') ? 'home' : '' }}">
    <div class="top text-caps-lowercase">

        <section class="wave-container">
            <div class="container">
                <div class="row">
                    <div class="col-7 col-lg-4 pl-sm-3 pl-lg-0">
                        <h2><a href="/">AC is fun</a></h2>
                    </div>
                    <div class="col-5 col-lg-4 offset-0 offset-lg-4 px-0 text-right pt-1 pr-3 pr-lg-0">
                        <div class="auth-container js-auth-container" style="opacity: 0;">
                            <a href="/auth/login"><span>Sign in</span>
                                <small><small><i class="fad fa-chevron-double-right"></i></small></small>
                            </a>
                        </div>

                        <p>
                            <a href="/settings" class="config js-config">
                                <i class="fad fa-cog"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div style="height: 100px; overflow: hidden;">
                <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                    <path d="M0.00,49.98 C154.34,98.18 271.15,-26.15 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: var(--color-bluewood);"></path>
                </svg>
                test???
            </div>
        </section>
    </div>
    <div class="container px-0">
        {% block content %}{% endblock %}
    </div>
    <nav class="menu fixed-bottom">
        {% include "layouts/menu.twig" %}
    </nav>
    <div class="modal fade" id="translations-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">New translation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="translation-suggest-translation" class="col-form-label">
                                New translation for <code class="modal-translation-code"></code>:</label>
                            <input type="text" class="form-control" name="translation" id="translation-suggest-translation" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Suggest</button>
                    </div>
                </div>
                <input type="hidden" name="key" id="translation-suggest-key" value="">
            </form>
        </div>
    </div>
</body>
</html>
