<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/110e72babf.js" crossorigin="anonymous"></script>
    <script src="/js/acisfun.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/acisfun.css">
    <title>AC is fun</title>
</head>
<body class="body{{ current_url()|split('/')|join(' ') }}{{ is_current_url('/') ? 'home' : '' }}">
    <div class="top text-caps-lowercase">
        <section class="wave-container">
            <div class="wave"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-8 pl-lg-0 pl-sm-3">
                        <h2><a href="/">AC is fun</a></h2>
                    </div>
                    <div class="col-lg-4 col-4 offset-lg-4 offset-0 px-0 text-right pr-3 pr-lg-0 auth-container js-auth-container pt-1">
                        <a href="/auth/reddit/login"><span>Sign in through Reddit</span> <small><small><i class="fad fa-chevron-double-right"></i></small></small></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container px-0">
        {% block content %}{% endblock %}
    </div>
    <nav class="menu fixed-bottom">
        {% include "layouts/menu.twig" %}
    </nav>
</body>
</html>