{% set menuItems = routesRepository.getAll() %}
<div class="container">
    <div class="row">
        {% for menuItem in menuItems %}
        <div class="col-3 pl-0 pr-0">
            {% set class = current_url() == menuItem.getUrl() ? 'active' : '' %}

            <a href="{{ menuItem.getUrl() }}" class="{{ class }}"><i class="fad {{ menuItem.getIcon() }}"></i> {{ menuItem.getLabel() }}</a>
        </div>
        {% endfor %}
    </div>
</div>

