<div class="row mx-0 filters-container py-2">
    <div class="col-12 col-lg-9">
        {% for filterGroup in filters %}
            <div class="row">
                <div class="col-12 col-lg-2 text-left text-lg-right">
                    <span class="text-caps-lowercase">{{ filterGroup.label }}</span>
                </div>
                <div class="col-12 col-lg-10">
                    {% for filter in filterGroup.filters %}


                        <a href="#{{ filter|url_encode()|url_encode() }}" class="js-filter-item filter-item badge badge-light" data-value="{{ filter }}">
                            {{ filter }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-12 col-lg-3 pt-3 pt-lg-0 pr-lg-0 align-self-end">
        <form class="js-search">
            <span class="text-caps-lowercase">Search</span>
            <div class="input-group">
                <input type="text" class="form-control form-control-sm" placeholder="Anchovy...">
                <div class="input-group-append">
                    <button class="btn btn-sm btn-warning" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>