
<div class="item-row-container js-filterable"
     id="{{ item.getSafeName() }}"
     data-filters=",{{ item.filters|join(',') }},"
>
    <div class="row mx-0 m-sm-n2">
        <div class="col-lg-2 image-placeholder text-center">
            <img src="{{ item.getImageLink() }}">
        </div>

        <div class="col-lg-10 position-static">
            <div class="row item-row item-row-main pl-lg-0 pr-lg-0">
                {% include "pages/snippets/table-row-main.twig" with {
                    'item':                  item,
                    'caughtCheckboxOffset':  caughtCheckboxOffset,
                    'lastColumn':            lastColumn,
                    'nameColumnClasses':     'col-12 offset-0',
                    'checkboxColumnClasses': 'col-4 offset-8 m-top--24'
                } only %}
            </div>
            <div class="row item-row item-row-sub px-lg-0">
                {% block subRow %}{% endblock %}
            </div>
        </div>
    </div>
</div>