<div class="item-row-container table-header d-lg-block d-none">
    <div class="row item-row">
        <div class="col-lg-2"></div>
        <div class="col-lg-10">
            <div class="row">
                {% if columnConfiguration is not empty %}
                    {{ columnConfiguration }}
                {% else %}
                    <div class="col-lg-3">
                        {% set vars = {'sort': sort, 'label': 'Name', 'property': 'name', 'sortIcon': ['fa-sort-alpha-down', 'fa-sort-alpha-down-alt']} %}
                        {% include "pages/snippets/table-header-column.twig" with vars only %}

                    </div>
                    <div class="col-lg-2">
                        <strong>Time</strong>
                    </div>
                    <div class="col-lg-2">
                        {% set vars = {'sort': sort, 'label': 'Bells', 'property': 'price', 'sortIcon': ['fa-sort-numeric-down', 'fa-sort-numeric-down-alt']} %}
                        {% include "pages/snippets/table-header-column.twig" with vars only %}

                    </div>
                    <div class="col-lg-2">
                        {% set vars = {'sort': sort, 'label': 'Location', 'property': 'location', 'sortIcon': ['fa-sort-alpha-down', 'fa-sort-alpha-down-alt']} %}
                        {% include "pages/snippets/table-header-column.twig" with vars only %}
                    </div>
                    <div class="col-lg-2 offset-lg-1">
                        <strong>{{ checkboxLabel|default('Caught') }}</strong>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="translations-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New translation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="translation-suggest-translation" class="col-form-label">
                            New translation for <code class="modal-translation-code"></code>:</label>
                        <input type="text" class="form-control" name="translation" id="translation-suggest-translation" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Suggest</button>
                </div>
            </div>
            <input type="hidden" name="key" id="translation-suggest-key" value="">
        </form>
    </div>
</div>