{% set icon = '' %}
{% set sortProperty = property %}
{% if sort == property %}
    {% set icon = sortIcon[0] %}
    {% set sortProperty = '-' ~ sortProperty %}
{% elseif sort == '-' ~ sortProperty %}
    {% set icon = sortIcon[1] %}
{% endif %}
<a href="{{ current_url() }}?sort={{ sortProperty }}">
    <strong>{{ label }}</strong>
    {% if icon %}<i class="fal {{ icon }}"></i>{% endif %}
</a>
