
<div class="item-row-container ml--15 mr--15">
    <div class="row">
        <div class="col-lg-2 image-placeholder text-center">
            <img src="{{ item.getImageLink() }}">
        </div>

        <div class="col-lg-10">
            <div class="row item-row item-row-main pl-lg-0 pr-lg-0">
                {% include "pages/snippets/table-row-main.twig" with {
                    'item':                 item,
                    'caughtCheckboxOffset': caughtCheckboxOffset,
                    'lastColumn':           lastColumn
                } only %}
            </div>
            <div class="row item-row item-row-sub pl-lg-0 pr-lg-0">
                {% block subRow %}{% endblock %}
            </div>
        </div>
    </div>
</div>