<div class="item-row-container table-header ml--15 mr--15">
    <div class="row item-row align-items-center d-lg-flex d-sm-none">
        <div class="col-lg-2"></div>
        <div class="col-lg-10">
            <div class="row">
                {% if columnConfiguration is not empty %}
                    {{ columnConfiguration }}
                {% else %}
                <div class="col-lg-3">
                    {% set vars = {'sort': sort, 'label': 'Name', 'property': 'name', 'sortIcon': 'alpha'} %}
                    {% include "pages/snippets/table-header-column.twig" with vars only %}

                </div>
                <div class="col-lg-4 offset-lg-2">
                    {% set vars = {'sort': sort, 'label': 'Bells', 'property': 'price', 'sortIcon': 'numeric'} %}
                    {% include "pages/snippets/table-header-column.twig" with vars only %}

                </div>
                <div class="col-lg-2 offset-lg-1">
                    <strong>{{ checkboxLabel|default('Caught') }}</strong>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
