<div class="item-row-container table-header ml--15 mr--15">
    <div class="row item-row align-items-center">
        <div class="col-2"></div>
        <div class="col-10">
            <div class="row">
                <div class="col-3">
                    {% set vars = {'sort': sort, 'label': 'Name', 'property': 'name', 'sortIcon': 'alpha'} %}
                    {% include "pages/snippets/table-column.twig" with vars only %}

                </div>
                <div class="col-4 offset-2">
                    {% set vars = {'sort': sort, 'label': 'Bells', 'property': 'price', 'sortIcon': 'numeric'} %}
                    {% include "pages/snippets/table-column.twig" with vars only %}

                </div>
                <div class="col-2 offset-1">
                    <strong>Caught</strong>
                </div>
            </div>
        </div>
    </div>
</div>
