{% for villager in villagers %}
    <div class="col-12 col-lg-6">
        <div class="row">
            <div class="col-5 pr-1" style="word-wrap: normal;"><strong>{{ villager.getName() }}</strong></div>
            <div class="col-7 px-1"><i class="fad fa-calendar-day"></i> {{ villager.birthday }}</div>
        </div>
    </div>
{% endfor %}
