<div class="col-12">
    <div class="row">
        <div class="col-6"><i class="fad fa-globe-europe"></i> <strong>Nature Day</strong></div>
        <div class="col-6"><i class="fad fa-calendar-star"></i> Apr 23rd - May 4th</div>
    </div>
</div>

<div class="col-12">
    <div class="row">
        <div class="col-6"><strong>May Day Tour</strong></div>
        <div class="col-6"><i class="fad fa-calendar-star"></i> May 1st - May 7th</div>
    </div>
</div>
<div class="col-12">
    <div class="row">
        <div class="col-6"><strong>International Museum Day</strong></div>
        <div class="col-6"><i class="fad fa-calendar-star"></i> May 18th</div>
    </div>
</div>
<div class="col-12">
    <div class="row">
        <div class="col-6"><strong>Wedding Season</strong></div>
        <div class="col-6"><i class="fad fa-calendar-star"></i> June 1st - June 30th</div>
    </div>
</div>