<div class="row">
    {% for villager in villagers %}
        <div class="col-6">
            <div class="row">
                <div class="col-5"><strong>{{ villager.getName() }}</strong></div>
                <div class="col-7"><i class="fad fa-calendar-day"></i> {{ villager.birthday }}</div>
            </div>
        </div>
    {% endfor %}
</div>
