{% extends "layouts/base.twig" %}

{% block content %}

    {% include "pages/snippets/filters.twig" with {'placeholder': random(items).getName()} only %}

    {% set columnConfiguration %}

        <div class="col-lg-3">
            {% set vars = {'sort': sort, 'label': 'Name', 'property': 'name', 'sortIcon': ['fa-sort-alpha-down', 'fa-sort-alpha-down-alt']} %}
            {% include "pages/snippets/table-header-column.twig" with vars only %}

        </div>
        <div class="col-lg-2 offset-lg-2">
            {% set vars = {'sort': sort, 'label': 'Bells', 'property': 'price', 'sortIcon': ['fa-sort-numeric-down', 'fa-sort-numeric-down-alt']} %}
            {% include "pages/snippets/table-header-column.twig" with vars only %}

        </div>
        <div class="col-lg-2 offset-lg-3">
            <strong>Found</strong>
        </div>
    {% endset %}

    {% include "pages/snippets/table-header.twig" with {
        'columnConfiguration': columnConfiguration
    } %}

    {% for item in items %}
        {% embed "pages/snippets/table-content.twig" with {
            'item':  item,
            'index': loop.index
        } only %}
            {% block subRow %}
                <div class="col-lg-4 col-4 order-lg-0 order-1 text-lg-left text-center">
                    {% if item.getCategory() %}
                        <span class="badge badge-info">{{ item.getCategory() }}</span>
                    {% endif %}
                </div>
                <div class="col-lg-2 offset-lg-1 order-lg-1 col-4 order-0 text-lg-left text-center"><span class="badge badge-warning"><!--
                    --><i class="fad fa-bells"></i> {{ item.getPrice() }}<!--
                    --></span><!--
                --></div>
            {% endblock %}
        {% endembed %}

    {% endfor %}

{% endblock %}
