{% extends "layouts/base.twig" %}

{% block content %}
    {% include "pages/snippets/table-header.twig" %}

    {% for item in items %}
        {% embed "pages/snippets/table-content.twig" with {'item': item} only %}
            {% block subRow %}
                <div class="col-lg-4 col-sm-4 order-lg-0 order-sm-1 text-lg-left text-sm-center">
                    {% if item.getCategory() %}
                        <span class="badge badge-info">{{ item.getCategory() }}</span>
                    {% endif %}
                </div>
                <div class="col-lg-2 offset-lg-1 order-lg-1 col-sm-4 order-sm-0 text-lg-left text-sm-center"><span class="badge badge-warning"><!--
                    --><i class="fad fa-bells"></i> {{ item.getPrice() }}<!--
                    --></span><!--
                --></div>
            {% endblock %}
        {% endembed %}

    {% endfor %}

{% endblock %}
