{% extends "layouts/base.twig" %}

{% block content %}

    <div class="row mx-0 mt-5" style="background-color: var(--bg-color);">
        <div class="col-12 pt-2">
            <div class="col-12">
                <h3>Profile <strong class="name">&hellip;</strong></h3>
            </div>
        </div>
    </div>

{% endblock %}
