{% extends "layouts/base.twig" %}

{% block content %}

    <div class="row mx-0 mt-5" style="background-color: var(--bg-color);">
        <div class="col-10 pt-2">
            <h3>Profile for <strong class="name">&hellip;</strong></h3>
        </div>
        <div class="col-2 text-right align-self-center">
            <a href="/auth/logout" class="badge badge-danger">Log out</a>
        </div>
    </div>

{% endblock %}
