{% extends "layouts/base.twig" %}

{% block content %}

    <div class="row">

        {% for item in items %}

            <div class="col-4 col-lg-3 p-1 ">
                <div class="p-2" style="background-color: var(--color-whiteish);">
                    <div class="row">
                        <div class="col-10">
                            <h5>{{ item.getName() }}</h5>
                            <span class="badge badge-info">{{ item.getHemisphere() }}</span>
                            {% if item.getStartDate() and item.getEndDate() %}
                                <span class="badge badge-danger">{{ item.getFullDateRange() }}</span>
                            {% endif %}
                        </div>
                        <div class="col-2">
                            <a href="/recipes/{{ item.getSafeName() }}"><i class="fad fa-chevron-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}
