:root {
    --color-red:                  #f77172;
    --color-blue:                 #04a9ab;
    --color-green:                #70c1a0;
    --color-lime:                 #c6d942;
    --color-yellow:               #f5db6a;
    --color-brown:                #5a413e;

    --color-brown-lighter:        #afa09f;

    --bg-color:                   #fffaf6;
    --bg-color-darker:            #f5dac9;

    --body-color:                 #9ed0b5;

    --accent:                     var(--color-brown);

    --color-bluewood:             #2c3e50;
    --color-bluewood-translucent: rgba(44, 62, 80, 0.3);

    --image-height:               58px;

    --footer-height:              56px;
}

body {
    /*background-image:      url(/img/bg2.jpg);*/
    background-color:      var(--body-color);
    background-repeat:     repeat;
    background-size:       300px;
    background-attachment: fixed;
    margin-bottom:         var(--footer-height);
}

table {
    box-sizing:      border-box;
    border-collapse: collapse;
}

table tr td {
    border:  1px solid black;
    padding: 2px 4px;
}

.top + .container {
    margin-top: 24px;
}

.top + .container > .table-header {
    /*margin-top: -48px;*/
}

.container .item-row-container.table-header {
    border-bottom: 1px solid var(--color-brown);
}

.container {
    display:        flex;
    flex-direction: column;
}

.container .item-row-container {
    border-bottom:    2px solid #9ed0b5;
    padding:          16px 0;
    background-color: var(--bg-color);
    position:         relative;
}

.container .item-row-container:last-child {
    border-bottom: 1px solid var(--color-brown);
}

.caught-checkbox {
    position:     initial;
    padding-left: initial;
}

.container .item-row-container.table-header {
    background-color: var(--bg-color-darker);
}

.container .item-row {
}

body,
a,
a:visited,
a:focus,
a:active,
a:hover {
    text-decoration: none;
}

.table-header a,
.item-row-container a {
    color: var(--accent);
}

.menu-items-container {
    background-color: var(--color-brown);
    text-align:       center;
}

.menu,
.menu a,
.menu a:visited,
.menu a:focus,
.menu a:active {
    color:      var(--bg-color);
    transition: background-color 0.1s linear;
}

.menu a.active,
.menu a:hover {
    background-color: var(--body-color);
    color:            var(--color-brown);
}

.menu .row > div {
    border-left:  2px solid var(--bg-color);
    border-right: 2px solid var(--bg-color);
    max-height:   var(--footer-height);
}

.menu .row a {
    padding: 16px 0;
    display: block;
}

.menu .row > div:first-child {
    border-left-width: 4px;
}

.menu .row > div:last-child {
    border-right-width: 4px;
}

.item-row .image-placeholder {
    min-height: var(--image-height);
}

.item-row-container img {
    height: var(--image-height);
}

.ml--15 {
    margin-left: -15px !important;
}

.mr--15 {
    margin-right: -15px !important;
}

.custom-control-input ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:active ~ .custom-control-label::before,
.custom-control-input:hover ~ .custom-control-label::before,
.custom-control-input:focus ~ .custom-control-label::before,
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    background: none;
    border:     0;
    box-shadow: none;
    outline:    none;
}

/*noinspection CssNoGenericFontName*/
.caught-checkbox input[type="checkbox"] + label::after {
    font-family: "Font Awesome 5 Pro";
    content:     "\f336";
    font-weight: 400;
    font-size:   34px;
    color:       var(--color-brown-lighter);
    transition:  color 0.1s linear, text-shadow 0.1s linear;
    cursor:      pointer;
    left:        0;
}

/* Hover must be defined before the :checked part, as we don't want :checked being able to be hovered on */
.caught-checkbox input[type="checkbox"]:hover + label::after,
.caught-checkbox input[type="checkbox"]:focus + label::after,
.navigation-column span a:hover {
    color: var(--body-color);
}

/*noinspection CssNoGenericFontName*/
.caught-checkbox input[type="checkbox"]:checked + label::after {
    font-family: "Font Awesome 5 Duotone";
    content:     "\10f336";
    color:       var(--green);
}

/*noinspection CssNoGenericFontName*/
.caught-checkbox input[type="checkbox"]:checked + label:hover::after {
    text-shadow: 1px 1px 2px rgba(40, 167, 69, 0.2),
                 0 0 1em rgba(40, 167, 69, 0.2),
                 0 0 0.2em rgba(40, 167, 69, 0.2);
}

@media (max-width: 992px) {
    .caught-checkbox input,
    .caught-checkbox input + label::before,
    .caught-checkbox input + label::after,
    .navigation-column a {
        right:  15px; /** to offset the row -15px */
        left:   0;
        margin: auto;

        top:    -50px;
    }

    .navigation-column a {
        top:  -16px !important;
        left: 15px;
    }

    .caught-checkbox input + label {
        width: 100%;
    }

    .m-top--24 {
        margin-top: -24px;
    }
}

.navigation-column {
    position: relative;
}

.navigation-column span {
    display: block;
    width:   16px;
    height:  16px;
}

.navigation-column span a {
    position:   absolute;
    font-size:  34px;
    top:        4px;
    transition: color 0.1s linear;
}

.wave-container {
    position:   relative;
    background: var(--color-bluewood);
    height:     100px;
}

.wave {
    position:   absolute;
    height:     32px;
    width:      100%;
    background: var(--color-bluewood);
    bottom:     0;
}

.wave::before, .wave::after {
    content:       "";
    display:       block;
    position:      absolute;
    border-radius: 100% 50%;
}

.wave::before {
    width:            53.5%;
    height:           110%;
    background-color: var(--body-color);
    right:            0;
    top:              60%;
}

.wave::after {
    width:            53.5%;
    height:           100%;
    background-color: var(--color-bluewood);
    left:             0;
    top:              40%;
}

.progress-bars-container .progress {
    border: 1px solid var(--color-bluewood-translucent);
}

.text-caps-lowercase,
.top {
    font-variant:   small-caps;
    text-transform: lowercase;
}

.top a {
    color: #f6ede7;
}


body.home .menu .progress {
    display: none;
}

.menu .progress {
    height:           8px;
    background-color: unset;
    border-radius:    0;
    transition:       height 0.1s linear;
}

.menu .progress .menu-progress-label {
    display: none;
}

.menu .progress:hover {
    height: 20px;
}

.menu .progress:hover .menu-progress-label {
    display: initial;
}

.auth-container {
    display: none;
}

@media (max-width: 768px) {
    .creature-month-container {
        position: absolute;
        top:      12px;
    }
}

.js-filterable {
    order: 999;
}

.filter-item {
    color: grey;
}

.opacity-40 {
    opacity: 0.4;
}

.opacity-100 {
    opacity: 1;
}