{% extends "layouts/base.twig" %}

{% block content %}

    {% include "pages/snippets/filters.twig" only %}

    {% set recipeCategory = recipeCategories[0] %}

    {% set columnConfiguration %}
            <div class="col-lg-3">
                {% set vars = {'sort': sort, 'label': 'Name', 'property': 'name', 'sortIcon': 'alpha'} %}
                {% include "pages/snippets/table-header-column.twig" with vars only %}

            </div>
            <div class="col-lg-2 offset-lg-1">
                {% set vars = {'sort': sort, 'label': 'Bells', 'property': 'price', 'sortIcon': 'numeric'} %}
                {% include "pages/snippets/table-header-column.twig" with vars only %}

            </div>
            <div class="col-lg-2 offset-lg-2">
                <strong>Learned</strong>
            </div>
            <div class="col-lg-1"></div>

    {% endset %}

    {% include "pages/snippets/table-header.twig" with {
        'columnConfiguration': columnConfiguration
    } %}

    {% for item in items %}

        {% set lastColumn %}
            <div class="col-lg-2 col-4 offset-lg-0 offset-8 text-lg-left text-center navigation-column">
                <a class="btn btn-sm btn-warning position-absolute" href="/recipes/{{ recipeCategory.getSafeName() }}/{{ item.getSafeName() }}">Details
                    <small><i class="fad fa-chevron-double-right"></i></small>
                </a>
            </div>
        {% endset %}


        {% embed "pages/snippets/table-content.twig" with {
            'item':                 item,
            'index':                loop.index,
            'caughtCheckboxOffset': 4,
            'lastColumn':           lastColumn
        } only %}
            {% block subRow %}
                <div class="col-lg-3 col-5 text-lg-left text-center">
                    {% if item.getCategory() %}
                        <span class="badge badge-danger">{{ item.getCategory() }}</span>
                    {% endif %}
                </div>
                <div class="col-lg-2 offset-lg-1 col-4 text-lg-left text-center"><span class="badge badge-warning"><!--
                    --><i class="fad fa-bells"></i> {{ item.getPrice() }}<!--
                    --></span><!--
                --></div>
            {% endblock %}
        {% endembed %}

    {% endfor %}

{% endblock %}
